.Header{
  height: 35px;
  
  background: black;
}

.Headings,  .Header {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tags{
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  padding: 10 30px;
}

.tags li a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin : 0 ;
  padding: 0; 
  text-decoration: none;
  color: black;
}

.tags li a:hover{
  background: #fff;
  color: blue;
}

.Main{
  margin-left: 10%;

}

.question{
  padding-top: 10px;
  font-weight: bold;
}