.Header{
  height: 35px;
  
  background: black;
}

#menu-icon,
#menu-others-icon {
  background-color: rgb(255, 250, 250);
  border-style: none;
}
#titleImage .icon {
  width: 70px;
  height: 58px;
  margin-right: 5px;
}
#titleImage {
  margin-top: 50px;
  margin-right: 10px;
  width: 65px;
  height: 50px;
}

#menu-icon img {
  width: 300px;
  border-radius: 8px;
  margin-right: 30px;
}

#menu-others-icon img {
  width: 200px;
  border-radius: 8px;
  margin-right: 30px;
}
#titleImage .icon {
  width: 70px;
  height: 58px;
  margin-right: 5px;
}
.navBar {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5px;
}
.navBar .nav-items {
  text-decoration: none;
  color: rgb(87, 83, 83);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

div .container .title {
  margin-top: 56px;
  font-size: 2em;
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 5px;
}

#menu-others-icon img {
  width: 200px;
  border-radius: 8px;
  margin-right: 30px;
}

.Headings,  .Header {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

div .appBar {
  width: 100%;
  background-color: black;
  font-family: "Segoe UI";
  height: 30px;
  padding-top: 3px;
  font-size: small;
}

.tags{
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  padding: 10 30px;
}

.tags li a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin : 0 ;
  padding: 0; 
  text-decoration: none;
  color: black;
}

.tags li a:hover{
  background: #fff;
  color: blue;
}

.Main{
  margin-left: 10%;

}

.question{
  padding-top: 10px;
  font-weight: bold;
}

div .appBar {
  width: 100%;
  background-color: black;
  font-family: "Segoe UI";
  height: 30px;
  padding-top: 3px;
  font-size: small;
}
div .container {
  display: flex;
  margin-top: 25px;
  width: 390px;
  margin-bottom: 20px;
}
div .container .title {
  margin-top: 56px;
  font-size: 2em;
  font-family: Futura, sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 5px;
}
#titleImage {
  margin-top: 50px;
  margin-right: 10px;
  width: 65px;
  height: 50px;
}
#titleImage .icon {
  width: 70px;
  height: 58px;
  margin-right: 5px;
}
.navBar {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 5px;
}
.navBar .nav-items {
  text-decoration: none;
  color: rgb(87, 83, 83);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.navBar .nav-items:hover {
  font-weight: bold;
}
#menu1,
#menu2,
#menu3,
#menu4 {
  background-color: rgb(255, 250, 250);
}
#menu1,
#menu2,
#menu3,
#menu4 {
  display: none;
}
#drop:hover > #menu1 {
  display: flex;
  flex-direction: row;
  border-style: none;
  margin-left: -400px;
}
#drop2:hover > #menu2 {
  display: flex;
  flex-direction: row;
  border-style: none;
  margin-left: -400px;
}
#drop3:hover > #menu3 {
  display: flex;
  flex-direction: row;
  border-style: none;
  margin-left: -400px;
}
#drop4:hover > #menu4 {
  display: flex;
  flex-direction: row;
  border-style: none;
  margin-left: -400px;
}
#sub-Category {
  margin-left: -30px;
  border-style: none;
  list-style: none;
  font-size: 0.88rem;
  color: rgb(149, 149, 149);
  background-color: rgb(255, 250, 250);
}
#sub-Category li {
  display: inline-block;
}
#categories {
  background-color: rgb(255, 250, 250);
  border-style: none;
  margin-right: 60px;
}
#span-list {
  white-space: nowrap;
  font-weight: bold;
}
#menu-icon,
#menu-others-icon {
  background-color: rgb(255, 250, 250);
  border-style: none;
}
#menu-icon img {
  width: 300px;
  border-radius: 8px;
  margin-right: 30px;
}
#menu-others-icon img {
  width: 200px;
  border-radius: 8px;
  margin-right: 30px;
}
#slider .carousel-inner .carousel-item img {
  width: 100%;
  height: 530px;
}
#slider {
  padding-left: 60px;
  padding-right: 60px;
}
#footer-heading {
  margin-top: 30px;
}
#footer-bottom {
  margin-top: 30px;
  background-color: black;
  color: white;
  font-size: small;
}
#col-1 h6 img {
  width: 30px;
}
#col-2 p a,
#col-3 p a {
  text-decoration: none;
}
#row {
  justify-content: center;
}
#footer-container {
  background-color: rgb(255, 250, 250);
}
#target-image {
  margin-top: 80px;
  margin-left: 60px;
}
#target-image img {
  width: 500px;
}
#homeBody {
  margin-top: 60px;
  width: fit-content;
  text-align: center;
}
#images {
  margin-top: 50px;
  display: flex;
}
#homeBody p {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(98, 98, 98);
}
#homeBody #shop-by-text {
  font-weight: normal;
  font-size: medium;
}
#images #bodyImage1 img {
  width: 600px;
  margin-left: 50px;
  margin-right: 110px;
}
#images #bodyImage1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}
#images #bodyImage1 .pret,
#images #bodyImage2 .pret {
  margin-top: 20px;
  font-weight: bold;
  color: #d0afaf;
}
#images #bodyImage1 .link,
#images #bodyImage2 .link {
  text-decoration: none;
  color: gray;
}
#images #bodyImage2 img {
  width: 700px;
}
.card-group {
  margin-top: 90px;
  margin-bottom: 90px;
  padding-left: 100px;
  padding-right: 100px;
  gap: 30px;
}
.card-title {
  font-size: small;
}
#price-flex {
  display: flex;
  gap: 10px;
}
#price-flex i.fa {
  margin-top: 3px;
}

@media screen and (max-width: 1250px) {
  #slider .carousel-inner .carousel-item img {
    width: 100%;
    height: 440px;
  }
}
@media screen and (max-width: 990px) {
  #slider .carousel-inner .carousel-item img {
    width: 100%;
    height: 360px;
  }
  #price-flex i.fa {
    margin-top: 3px;
    font-size: 10px;
  }
  #price-flex p {
    font-size: 10px;
  }
}
@media screen and (max-width: 880px) {
  #slider .carousel-inner .carousel-item img {
    width: 100%;
    height: 280px;
  }
  .card-group {
    display: flex;
    flex-direction: column;
  }
}


#faq{
  text-align: center;
  color: black;
}